<html>
<head>
<title>
{{headline}}
</title>
<link rel='stylesheet' href='style.css'>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
</head>
<body>
<div class='story'><h2 class='hed'>{{headline}}</h2>
<p class='byline'>by Sumana Harihareswara, {{pubdate}}</p>
<div class='verbiage'>{{{verbiage}}}</div>
</div>
<div class='footer'>
A <a href='http://harihareswara.net'>Sumana Harihareswara</a> website
</div>
<aside class='sidebar'>
Part of <a href="https://github.com/brainwane/mcmasala">MC Masala</a>
<nav role='navigation'>
<ul>
<li><a href="https://github.com/brainwane/mcmasala">Next</a></li>
<li><a href="https://github.com/brainwane/mcmasala">Previous</a></li>
<li><a href="../">Go up a level</a></li>
<ul>
</nav>
</aside>
</body>
</html>
