<html>
<head>
<title>
MC Masala by Sumana Harihareswara
</title>
<link rel='stylesheet' href='style.css'>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
</head>
<body>
<div class='story'><h2>MC Masala, a column by Sumana Harihareswara</h2>
<p>This is the archive of my newspaper column.
</p>
<p>Between April 2005 and August 2007, I <a href="http://www.harihareswara.net/sumana/2011/02/23/0">wrote a weekly column</a> called "MC Masala" for the "Inside Bay Area" section of several papers in the San Francisco Bay Area, including the Oakland Tribune. My work circulated to about a million people, I'm told. You can now read these stories below.</p>
<p>(I'm a better writer now but some of the columns still stand up okay.)</p>
<p>You can also see and reuse <a href="https://github.com/brainwane/mcmasala">the code I wrote to make this site</a>.</p>
<div class='storylist'>
<ul>
{{{stories}}}
</ul>
</div>
</div>
<div class='footer'>
A <a href='http://harihareswara.net'>Sumana Harihareswara</a> website made at <a href="http://hackerschool.com/">Hacker School</a>
</div>
<aside class='sidebar'>
Part of <a href="https://github.com/brainwane/mcmasala">MC Masala</a>
</aside>

<script src="search.min.js" type="text/javascript" charset="utf-8"></script>
<script src="index.js"></script>
<script src="lunr.min.js"></script>
<script src="pagesearch.js"></script>

<p></p>
<p></p>
<div id="search">

  <form id="search" onsubmit="lunrsearch()">
    <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
  </form>
</div>
</p>
<p>
<section id="searchResults">
  <p>Search results</p>
</section>
</p>

</body>
</html>
